@{
    ViewData["Title"] = "Asistencia";
}
<style>

</style>
<div class="container ">
    
</div>

@section Scripts
{
    <script src="~/js/echarts.min.js"></script>
    <script src="~/js/sweet.js"></script>
    <script src="~/js/generic3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
    <script src="/js/Alumnos/AlumnoReporteAsistencia.js"></script>
}