@{
    ViewData["Title"] = "Alumnos";
}
<div class="container ">    
        <div class="row d-flex text-center">
            <div class="col-md-12  col-xl-8 ">
                <div class="card  cardCredito">
                    <div class="card-body">
                        <div class="col-12">
                            <h2 class="card-title titCredito">Gestionar alumnos</h2>
                            <div class="row">
                                <div class="col-4">
                                    <div class="col-sm-8 ">
                                        <select class="form-control select2 mt-1  selectCredito" id="comprobante2" name="comprobante2"></select>
                                    </div>                  
                                </div>
                                <div class="col-4">
                                    hola 1
                                </div>
                                <div class="col-4">
                                    hola 2
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts
{
    <script src="~/js/echarts.min.js"></script>
    @* <script src="~/js/graf.js"></script> *@
    <script src="~/js/sweet.js"></script>
    <script src="~/js/generic3.js"></script>
    <script src="~/js/graficos.js"></script>
    <script src="~/js/Reportes/CarteraElegible/carteraelegible.js"></script>
   
}