@{
    ViewData["Title"] = "Alumnos";
}
<style>
    .cuadroRegistrarAlumno {
        display: none;
    }
</style>
<div class="container ">
    <div class="row justify-content-center text-center">
        <div class="col-md-12  col-xl-8 ">
            <div class="card  cardCredito">
                <div class="card-body">
                    <div class="col-12">
                        <h2 class="card-title titCredito">Gestionar alumnos</h2>
                        <div class="row">
                            <div class="col-3">
                                <div class="col-sm-12 ">
                                    <select class="form-control select2 mt-1  selectCredito" id="cmbCiclo"
                                        name="cmbCiclo" onchange="filtrarAlumnos()"></select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="col-sm-12 ">
                                    <select class="form-control select2 mt-1  selectCredito" id="cmbGrupo"
                                        name="cmbGrupo" onchange="filtrarAlumnos()"></select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-sm-12 ">
                                    <select class="form-control select2 mt-1  selectCredito" id="cmbAlumnos"
                                        name="cmbAlumnos" onchange="editarAlumno(event)" style="display: none;"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-3 m-4">
                                <button type="button" class="btn btn-success btn-lg"
                                    onclick="habilitarDivFlex('cuadroAlumno')">Registrar Alumno</button>
                            </div>
                        </div>
                        @* Registrar Alumnos*@
                        <div class="row justify-content-center cuadroRegistrarAlumno" id="cuadroAlumno">
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Registrar Alumno</h5>
                                        <form method="post" id="formRegistroAlumno">
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label for="nombre" class="form-label">Nombre(s)</label>
                                                    <input type="text" data-validetta="required,regExp[soloLetras],minLength[2],maxLength[30]" class="form-control" name="nombre"
                                                        placeholder="Nombre(s)">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="apellidos" class="form-label">Apellido Paterno</label>
                                                    <input type="text" data-validetta="required,regExp[soloLetras],minLength[2],maxLength[30]" class="form-control" name="apellidoPaterno"
                                                        placeholder="Apellido Paterno">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="apellidos" class="form-label">Apellido Materno</label>
                                                    <input type="text" data-validetta="required,regExp[soloLetras],minLength[2],maxLength[30]" class="form-control" name="apellidoMaterno"
                                                        placeholder="Apellido Materno">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="numero-boleta" class="form-label">Número de
                                                        boleta</label>
                                                    <input type="text" data-validetta="required,number,minLength[5],maxLength[5]" class="form-control" name="numero-boleta"
                                                        placeholder="Número de boleta">
                                                </div>
                                                <div class="mb-3 col-12">
                                                    <label for="numero-boleta" class="form-label">Correo electrónico del tutor</label>
                                                    <input type="text" data-validetta="required,email"class="form-control" name="correo"
                                                        placeholder="Correo electrónico del tutor">
                                                </div>
                                                <div class="text-center col-12 mt-6">
                                                    <button type="button" class="btn btn-danger" onclick="deshabilitarDivFlex('cuadroAlumno')">Cancelar</button>
                                                    <button type="submit" class="btn btn-success" >Registrar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Modificar alumno *@
                        <div class="row justify-content-center cuadroRegistrarAlumno" id="cuadroAlumnoModificar">
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Modificar alumno</h5>
                                        <form method="post" id="formModificarAlumno">
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label for="nombre" class="form-label">Nombre(s)</label>
                                                    <input type="text" data-validetta="required,regExp[soloLetras],minLength[2],maxLength[30]" class="form-control" name="nombreMod"
                                                        placeholder="Nombre(s)">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="apellidos" class="form-label">Apellido Paterno</label>
                                                    <input type="text" data-validetta="required,regExp[soloLetras],minLength[2],maxLength[30]" class="form-control" name="apellidoPaternoMod"
                                                        placeholder="Apellido Paterno">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="apellidos" class="form-label">Apellido Materno</label>
                                                    <input type="text" data-validetta="required,regExp[soloLetras],minLength[2],maxLength[30]" class="form-control" name="apellidoMaternoMod"
                                                        placeholder="Apellido Materno">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="numero-boleta" class="form-label">Número de
                                                        boleta</label>
                                                    <input type="text" data-validetta="required,number,minLength[5],maxLength[5]"class="form-control" name="numero-boletaMod"
                                                        placeholder="Número de boleta">
                                                </div>
                                                <div class="mb-3 col-12">
                                                    <label for="numero-boleta" class="form-label">Correo electrónico del tutor</label>
                                                    <input type="text" data-validetta="required,email"class="form-control" name="correoMod"
                                                        placeholder="Correo electrónico del tutor">
                                                </div>
                                                <div class="text-center col-12">
                                                    <button type="button" class="btn btn-danger" id="abrirModalEliminar" data-toggle="modal"
                                                        data-target="#eliminarAlumnoModal">Eliminar</button>
                                                    <button type="submit" class="btn btn-success" id="abrirModal" 
                                                        >Modificar</button>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Modal para modificar alumno *@
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modificar Alumno</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">Cerrar Ventana</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Para confirmar la modificación del alumno de click en Aceptar.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="button" onclick="modificarAlumno()"
                                            class="btn btn-success">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Modal para eliminar alumno *@
                        <div class="modal fade" id="eliminarAlumnoModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Eliminar Alumno</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">Cerrar Ventana</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Para confirmar la eliminación del alumno de click en Aceptar.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">Cancelar</button>
                                        <button type="button" onclick="eliminarAlumno()"
                                            class="btn btn-success">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/echarts.min.js"></script>
    <script src="~/js/validetta.js"></script>
    <script src="~/js/sweet.js"></script>
    <script src="~/js/generic3.js"></script>
    <script src="~/js/Alumnos/Alumnos.js"></script>
   
}