<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/91549ea1-0137-4d9e-b54a-00b34ec0974f/resourceGroups/ProyectoTT/providers/Microsoft.Web/sites/ATENEA20231206015945</ResourceId>
    <ResourceGroup>ProyectoTT</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://atenea20231206015945.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4654dda1-bee7-4d21-bd9c-d0e9009d949a</ProjectGuid>
    <PublishUrl>https://atenea20231206015945.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ATENEA20231206015945</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>